@media print {
  @page {
    size: A3 portrait; /* 또는 landscape */
    margin: 20mm; /* 원하는 여백 설정 */
  }
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/PretendardVariable.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("./fonts/Pretendard-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("./fonts/Pretendard-SemiBold.ttf") format("truetype");
}

body {
  margin: 40px 20px;
  font-family: "Pretendard", sans-serif;
}

.container {
  width: 554px;
  height: 370px;
  position: relative;

  border: 1px solid grey;
}

.label-2 {
  /* Label/Label2 */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;
}

.headline-3 {
  /* Headline/Head3 */
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
  letter-spacing: -0.3px;
}

.text-name {
  color: #313131;
  padding-right: 8px;

  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
  letter-spacing: -0.3px;

  border: 1px solid black;
}

.text-relation {
  color: #018941;
  padding-right: 4px;

  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
  letter-spacing: -0.3px;

  border: 1px solid green;
}

.text-content {
  color: #5e5e5e;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;

  border: 1px solid blue;
}

.text-date {
  display: inline;
  color: #b6b6b6;

  font-size: 12px;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: -0.3px;

  border: 1px solid grey;
}

.text-date-34 {
  display: block;
  color: #b6b6b6;

  font-size: 12px;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: -0.3px;

  border: 1px solid grey;
}

.aspect-34-image {
  width: 205px;
  height: 275px;
}

.aspect-43-image {
  width: 277.5px;
  height: 370px;
  margin-right: 8px;
}

.aspect-34-contents {
  position: absolute;
  right: -4px;

  border: 1px solid tomato;
}

.aspect-43-contents {
  position: absolute;
  bottom: -4px;

  border: 1px solid salmon;
}

.profile-image {
  width: 58px;
  height: 58px;

  border-radius: 58px;
  border: 7px solid #fefefe;
}

.text-container {
  padding-left: 8px;
  width: 488px;

  border: 1px solid cyan;
}

.text-container-34 {
  padding-left: 8px;
  width: 219px;

  border: 1px solid cyan;
}
